{{define "admin/system.html"}}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>系统配置 | CqepcAuto</title>

    <!-- css -->
    <link rel="stylesheet" href="../../static/lib/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/lib/node_modules/toastr/build/toastr.min.css">
    <link rel="stylesheet" href="../../static/css/public.css">
    <link rel="stylesheet" href="../../static/css/admin/system.css">

    <!-- js -->
    <script src="../../static/lib/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../static/lib/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../../static/lib/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/lib/node_modules/toastr/build/toastr.min.js"></script>
    <script src="../../static/lib/node_modules/crypto-js/crypto-js.js"></script>
    <script src="../../static/js/utils/encipher.js"></script>
    <script src="../../static/js/admin/system.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">
        <div class="container">
            <a class="navbar-brand" href="#">CqepcAuto</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/index?t={{.time}}">首页 <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/system?t={{.time}}">系统配置</a>
                    </li>
                </ul>
                <div class="dropdown">
                    <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-expanded="false">
                        {{.user.SName}}
                    </button>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-12 mt-4 mb-5">
                <div class="card border-0">
                    <div class="card-body">

                        <!-- 表单 -->
                        <form>
                            <p class="h4">评课信息配置</p>
                            <p>请输入评课系统账号密码信息</p>
                            <div class="form-group">
                                <label for="StudentID">学号</label>
                                <input type="text" name="StudentID" class="form-control" id="StudentUsername"
                                    placeholder="请输入学号" value="{{.user.SId}}" required>
                            </div>
                            <div class="form-group">
                                <label for="StudentPassword">密码</label>
                                <input type="password" name="StudentPassword" class="form-control" id="StudentPassword"
                                    placeholder="请输入密码" value="{{.user.SPass}}" required>
                            </div>
                            <div class="form-group">
                                <label for="StudentOpenid">评课小程序OPENID [选填] &emsp14;&emsp14; <a
                                        href="#">获取配置文档</a></label>
                                <input type="text" name="StudentOpenid" class="form-control" id="StudentOpenid"
                                    placeholder="请输入评课小程序OPENID" value="{{.user.SOpenid}}">
                            </div>

                            <p class="h4">通知配置</p>
                            <p>本系统使用钉钉消息通知，请确保您的设备（电脑或手机）中有该软件（钉钉） &emsp14;&emsp14; <a href="https://www.axelwong.cn/96/">获取配置文档</a></p>
                            <div class="form-group">
                                <label for="DingTalkWebhook">Webhook地址</label>
                                <input type="text" name="DingTalkWebhook" class="form-control" id="DingTalkWebhook"
                                    placeholder="请输入Webhook地址" value="{{.user.NToken}}" required>
                            </div>
                            <div class="form-group">
                                <label for="DingTalkSecret">密钥</label>
                                <input type="text" name="DingTalkSecret" class="form-control" id="DingTalkSecret"
                                    placeholder="请输入密钥" value="{{.user.NSecret}}" required>
                            </div>
                            <div class="form-group">
                                <label for="DingTalkPhone">手机号&emsp14;&emsp14;&emsp14;&emsp14;<span
                                        class="font-weight-light">请使用注册钉钉并创建群机器人的手机号，不然无法接收消息</span></label>
                                <input type="text" name="DingTalkPhone" class="form-control" id="DingTalkPhone"
                                    placeholder="请输入手机号" value="{{.user.NPhone}}" required>
                            </div>

                            <p class="h4">系统配置</p>
                            <div class="form-group">
                                <label for="SysLoginType">登录模式&emsp14;&emsp14; <a href="https://www.axelwong.cn/96/">获取配置文档</a></label>
                                <select name="SysLoginType" id="SysLoginType" class="form-control" data-value="{{.user.LoginType}}">
                                    <option value="account">账号密码登录</option>
                                    <option value="openid">评课小程序OPENID登录 - 推荐！！！</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="SysCode">验证码</label>
                                <div class="row">
                                    <div class="col-6">
                                        <input type="text" class="form-control" id="SysCode" name="SysCode"
                                            placeholder="请输入验证码" required>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn btn-primary" id="getCode">获取验证码</button>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block">保存</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
{{end}}